.news-container {
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  margin-bottom: 50px;
  border-bottom: 1px dotted black;
}

.title-container {
  font-size: 14px;
  /* background-color: orange; */
}

.news-title {
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
  /* text-decoration: underline; */
  /* background-color: lightgreen;s */
}

.news-date {
  padding-bottom: 5px;
  margin: 0px;
  font-size: 16px;
}

.blogImage {
  width: 100%;
  margin: 0px auto;
}

.blogImage img {
  object-fit: cover;
  width: 100%;
}

@media only screen and (min-width: 850px) {
  .news-container {
    width: 60%;
  }
  .title-container {
    font-size: 16px;
    /* background-color: orange; */
  }
  .news-title {
    font-size: 26px;
  }
}

/* .blogImage img {
  height: 300px;
} */
