.yearContainer {
  margin-left: 0px;
  margin-right: 20px;
}

.yearSetup {
  /* background-color: blue; */
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  flex-direction: column;
}

.layoutWrapper {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  min-width: 240px;
}

.phdYear {
  margin-right: 50px;
  font-size: 24px;
}

.phd {
  /* background-color: orange; */
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  min-width: 220px;
  margin-right: 5px;
}

.phdAuthor {
  line-height: 18px;
  font-size: 10px;
  font-weight: 600;
  color: black;
}

.phdAuthor span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  text-decoration-color: rgb(0, 125, 187);
}

.phdTitle {
  margin-top: 5px;
  /* background-color: green; */
  line-height: 18px;
  font-size: 10px;
  font-weight: 600;
}

.phdTitle span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  color: green;
}


@media only screen and (min-width: 700px) {
 .yearSetup {
   flex-direction: row;
 }

 .yearContainer {
   margin-left: 20px;
 }

.phd {
 width: 240px;
 min-width: 240px;
 margin-right: 10px;
}
