.mainContainerHome {
  margin: 50px 50px;
  line-height: 30px;
  /* background-color: red; */
  justify-content: space-around;
}

.newsContainer {
  text-align: center;
  vertical-align: center;
  /* background-color: lightgrey; */
  width: 100%;
}

.newsContainer h3 {
  text-align: left;
  letter-spacing: 2px;
  font-weight: 300;
}

.newsContainer a {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  color: black;
}

.newsContainer a:hover {
  color: brown;
}

.mainText {
  /* background-color: yellow; */
  width: 700px;
}

.newsHome {
  margin: 0 auto;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* height: 100px; */
  margin-bottom: 100px;
  /* background-color: lightgrey; */
  /* background-color: rgb(0, 145, 207); */
  /* border-top: 1px dotted black; */
  /* border-bottom: 1px dotted black; */
  /* width: 40%; */
}

.news {
  height: 100px;
  font-style: italic;
  letter-spacing: 1px;
  /* background-color: lightgrey; */
}
