<div class="headerContainer">
  <div class="region">
    <a href="https://www.bispebjerghospital.dk" target="_blank"><img src="../images/header/bisfrb.png" height="30px" ></img></a>
  </div>
  <div class="institute">
    <div class="titleContainer">
      <div class="headLines">
      <div class="titleLogo">
        <!-- <h1 class="mainTitle"> ISMC </h1> -->
        <img src="../images/header/ISMC.png" height="150px"></img>
      </div>
      <div>
        <h2 class="mainTitle"> | Institute of Sports Medicine Copenhagen | </h2>
      </div>
      </div>
      <img class="aerial" src="../images/aerial.png"> </img>
    </div>
  </div>
</div>
