<nav>
  <div class="linksContainer">
    <div class="one">
      <a href="/home"><div class="link">Home</div></a>
      <a href="/profiles"><div class="link">Profiles</div></a>
      <a href="/"><div class="link">Groups</div></a>
      <a href="/"><div class="link">Clinical-Courses</div></a>
    </div>
    <div class="two">
      <a href="/contact"><div class="link">Symposium</div></a>
      <a href="/"><div class="link">Phd</div></a>
      <a href="/"><div class="link">Links</div></a>
      <a href="/contact"><div class="link">Contact</div></a>
    </div>
  </div>
</nav>
