<nav>
  <div class="linksContainer">
    <div class="link"><a href="/home">Home</a></div>
    <div class="link"><a href="/news">News</a></div>
    <div class="link"><a href="/profiles">Profiles</a></div>
    <div class="link"><a href="/groups">Groups</a></div>
    <div class="link"><a href="/clinical-courses">Clinical-Courses</a></div>
    <div class="link"><a href="/symposium">Symposium</a></div>
    <div class="link"><a href="/phd">PhD</a></div>
    <div class="link"><a href="/contact">Contact</a></div>
  </div>
</nav>
